*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}
.main-container{
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  background-color:#fefefe
}
.mid-container{
  flex: 1;
  height: 480px;
  display: flex;
  align-items: center;
}
.top-section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color:honeydew;
  margin-left: 120px;
  
  width: 1200px;
  height: 20px;
}
.left-top{
  
  width: 80px;
  height: 20px;
  cursor: pointer;
}
.right-top{
  color: crimson;
  width: 80px;
  height: 20px;

  cursor: pointer;
}
.button-bar{
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dotted rgb(126, 126, 126);
  border-radius: 15px;
  width: 160px;
  height: 150px;
  margin-left: 25px;
  margin-left: 46px;
  margin-bottom: 46px;
  box-shadow: 3px 4px rgba(0, 0, 0, 0.322);
}
.add-card{
  background-color: rgba(0, 0, 0, 0.884);
  color: aliceblue;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
}
.new-card-add{
  width: 120px;
  height: 100px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.card-section{
  height: 350px;
  width: 100vw;
}
.card-expiry-container{
  display: flex;
  flex-direction: column;
}
.cards{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 250px;
  height: 150px;
  padding: 16px;
  cursor: pointer;
  box-shadow: 3px 4px rgba(0, 0, 0, 0.322);
}
.brand-logo {
  width: 24px;
  height: 24px;
}
.card-logo{
  width:30px;
  height: 34px;
}
.card-logo-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modalBox{
 
  width: 350px;
  height: 350px;
}
.form{
  width: 100px;
  height: 400px;
}
.btn-smt{
  border-radius: 12px;
}
#btn-cancel{
  background-color: rgb(180, 54, 54);
}
#btn-submit{
  background-color: rgb(13, 158, 13);
}